<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Problema De transporte</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>

    <link rel="stylesheet" href="/static/css/ajustes.css" th:href="@{/css/ajustes.css}"/>
</head>
<body>
<nav>
    <div class="nav-wrapper blue">
        <a href="#" class="brand-logo center-align">Loja de Roupas</a>
    </div>
</nav>
<form method="POST">
<div class="card topo">
    <div class="card-content row">
        <div class="input-field col s6">
            <input placeholder="Origens" name="origens" id="origens" type="number" />
            <label for="origens"></label>
        </div>
        <div class="input-field col s6">
            <input placeholder="Clientes" name="destinos" id="destinos" type="number"/>
            <label for="destinos"></label>
        </div>
        <div class="input-field col s12">
            <input placeholder="Oferta" name="oferta" id="oferta" type="number"/>
            <label for="destinos"></label>
        </div>
        <a class="waves-effect waves-light btn blue" id="gerar">Gerar matriz de custos</a>
        <a class="waves-effect waves-light btn blue disabled" id="limpar">Limpar</a>
        <a class="right-align waves-effect waves-light btn green disabled" type="submit" th:value="resultado" name="resultado" id="chamar">Calcular</a>
    </div>
</div>
<div class="card" >
        <div class="card-content coluna" id="matriz">
            <table >
                <thead id="thread">
                <tr id="first">
                    <th>Origem</th>
                </tr>
                </thead>

                <tbody id="matrix">

                </tbody>
            </table>
        </div>
    </div>
</form>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <p>Os campos são obrigatorios</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
        </div>
    </div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/ajustes.js" th:src="@{js/ajustes.js}"></script>
<script type="text/javascript" src="/static/js/materialize.min.js" th:src="@{js/materialize.min.js}"></script>
</body>
</html>